
@mixin button($color) {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: none;
    padding: 8px;
    color : white;
    text-align: center;
    text-decoration:white;
    vertical-align: top;
    box-shadow: 2px 3px 12px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    border-radius : 5px;
    background-color : $color;
    cursor: pointer;
    margin : 3px;
    width : 70px;
    &:active {
    transform: translateY(2px);
    }
    &:hover {
    opacity: 0.8;
    }
    &:disabled {
    opacity : 0.3;
    cursor: no-drop;
    }
}

.tableEdit {
    @include button( rgb(2, 89, 123));
    font-size: 8px;
    width:30px;
    margin : 1px;
}
.tableDelete {
    @include button(rgb(121, 23, 23));
    font-size : 8px;
    width:30px;
    margin : 1px;
}

.btedit {
    @include button( rgb(123, 119, 2));
}

.btnew {
    @include button(rgb(2, 52, 90));
}

.btdel {
    @include button(rgb(121, 23, 23));
}

.btsave {
    @include button(rgb(81, 133, 55));
}
.btTag {
    @include button(rgb(83, 134, 158));
    color : white;
    width : 200px;
    height : 50px;
}

.btList {
    @include button(rgb(232, 238, 241));  
    border-radius : 3px;
    border-style: none none none solid;
    border-width: 4px;
    border-color :(rgb(35, 72, 88)); 
    color: black;
    font-size : 16px;
    text-align : left;
    margin : 7px;
    width: 90%;
}

.btSignIn {
    @include button(rgb(49, 152, 189));
    width : 150px;
}


.btSignOut {
    @include button(rgb(192, 84, 84));
    width : 100px;
}

.panelListed {
    @include button(rgb(48, 85, 97));
    width: 80%;
    text-align: left;
}
.panelSelected {
    @include button(rgb(97, 44, 44));
    width: 80%;
    text-align: left;
}

.capsule {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color:(rgb(64, 111, 126));
    color: white;
    border: none;
    display:inline-block;
    border-radius: 20px;
    text-align: center;
    overflow-wrap: break-word;
    text-overflow: ellipsis; 
    padding: 20px;
    flex-wrap: wrap;
    overFlow: hidden;
    min-width: 100px;
    max-width: 250px;
}


