/* The navigation bar */
.bar {
    overflow: hidden;
    background-color: rgb(75, 75, 75);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height : 50px;
    z-index : 3;
    text-align : center;
    align-items: center;
    color : white;    

 a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    &:hover {
        background: #ddd;
        color: black;
    }
  }

}

.brand {
    color : white ; 
    font-size : 30px;
    font-family : Arial, Helvetica, sans-serif;
    font-weight : bold;
    position : fixed;
    text-align: center;
    margin-left : 5px;
    margin-top : -5px;
    height : 27px;
    &:hover {
        background-color: black;
        font-size: 32px;
    }
}


/* Left side menu */

.sidebar {
    overflow: hidden;
    background-color: rgb(57, 116, 130);
    position: fixed; 
    top: 50px; 
    height: 100%; 
    width : 150px;
    z-index: 3;
    color : white;
}

ul {
    list-style-type: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width: 9%;
    background-color: $thirdcolor;
    position: fixed;
    height: 100%;
    overflow: auto;
    box-shadow: 2px 3px 12px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
    }
    
       
li a {
display: block;
font-size : 14px;
color: rgb(216, 215, 215);
text-decoration: none;
}

li a.active {
background-color: #4CAF50;
color: white;
}

li a:hover:not(.active) {
color: white;
}

.navmenu {
    background-color : rgb(43, 92, 104);
    margin : 5px;
    display: grid;
    padding : 10px;
    text-align : left;
    align-items: center;
    grid-template-columns: 30px auto;
    border-radius : 5px;
    &:hover {
        background-color: rgb(30, 73, 85);
    }
}

.profile {
    margin : 5px;
    height : 80px;
    border-radius : 5px;
    margin-top: 20px;
    font-size : 14px;
    padding : 5px;
    color : white;
    text-align: center;
}
