table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width : 100%;
    font-size : 11px;
    vertical-align : center;
    z-index : 1;
    overflow-y: scroll;
    
    td, th {
    padding: 10px;
    text-align: left;
    vertical-align: center;
    z-index : 1;
    }
    
    tr {
        background-color : rgb(255, 255, 255);
        &:hover {
        background-color : rgb(208, 220, 230);
        }
    }
    
    
    td {
    white-space:pre-line;
    }
    
    th {
    padding : 6px;
    text-align: left;
    background-color: #3d4e57;
    color: rgb(243, 233, 233);
    position: sticky;
    top: 0;
    z-index : 1;
    }
}


.lmtable {
    font-family: Arial, Helvetica, sans-serif;
    font-size : 12px;
    border-collapse: collapse;
    width : 100%;
    font-size : 11px;
    vertical-align : center;
    z-index : 1;
    overflow-y: scroll;
    
    td, th {
    padding: 10px;
    text-align: left;
    vertical-align: center;
    z-index : 1;
    }
    
    tr {
        background-color : rgb(255, 255, 255);
        &:hover {
        background-color : rgb(208, 220, 230);
        }
    }
    
    
    td {
    white-space:pre-line;
    }
    
    th {
    padding : 6px;
    text-align: left;
    color: rgb(243, 233, 233);
    position: sticky;
    top: 0;
    z-index : 1;
    }
}

.tablelist {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    color: black;
    width : 100%;
    font-size : 12px;
    vertical-align : center;
    z-index : 1;
    overflow-y: scroll;
    
    td, th {
    padding: 5px;
    text-align: left;
    vertical-align: center;
    z-index : 1;
    }
    
    td {
    white-space:pre-line;
    }
    tr {
        background-color :transparent;
        &:hover {
        background-color : rgba(193, 215, 233, 0.342);
        }
    }
    
    th {
    padding : 6px;
    text-align: left;
    position: sticky;
    top: 0;
    z-index : 1;
    }
}