

label {
    display: block;
    padding: 3px;
    color: #2c2c2c;
    font-weight:bold;
    font-size: 14px;
    letter-spacing : 1.2px;
    z-index : 2;
    font-family: Arial, Helvetica, sans-serif;
  }
 
input {
  display: block;
  position: relative;
  width: 94%;
  padding : 5px;  
  color: #494949;
  background: none;
  border : none;
  z-index: 2;
  font-size: 12px;
  &:focus {
      border-bottom-style: solid;
      background-color : rgb(255, 255, 255);
      border-width : 0.8px;
      width:94%;
      outline : none;
      border-color : rgb(146, 184, 197);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
    display: block;
    position: relative;
    width: 80%;
    padding : 3px;  
    color: #494949;
    background: none;
    border : none;
    z-index: 2;
    padding: 5px;
    font-size: 10px;  
    &:focus {
      border-bottom-style: solid;
      background-color : rgb(255, 255, 255);
      border-width : 0.8px;
      outline : none;
      border-color : rgb(146, 184, 197);
  } 
}

::placeholder {
  color: #88dba8;
  font-style: italic;
}


textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  position: relative;
  width: 98%;
  color: #494949;
  background: none;
  border : none;
  line-height : 1.5;
  z-index: 2;
  padding: 5px;
  resize: none;
  font-size: 12px;
  &:focus {
      border-bottom-style: solid;
      background-color : rgb(255, 255, 255);
      border-width : 0.8px;
      padding: 3px;
      width: 98%;
      outline : none;
      border-color : rgb(146, 184, 197);
  }
  
}

.err {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size : 10px;
  color : red;
}



// Toggles
.switch {
  position: relative;
  width: 20px;
  height: 10px;
  bottom : 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3076af;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
