.tableEdit {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #02597b;
  cursor: pointer;
  margin: 3px;
  width: 70px;
  font-size: 8px;
  width: 30px;
  margin: 1px;
}

.tableEdit:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.tableEdit:hover {
  opacity: 0.8;
}

.tableEdit:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.tableDelete {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #791717;
  cursor: pointer;
  margin: 3px;
  width: 70px;
  font-size: 8px;
  width: 30px;
  margin: 1px;
}

.tableDelete:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.tableDelete:hover {
  opacity: 0.8;
}

.tableDelete:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.btedit {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #7b7702;
  cursor: pointer;
  margin: 3px;
  width: 70px;
}

.btedit:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btedit:hover {
  opacity: 0.8;
}

.btedit:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.btnew {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #02345a;
  cursor: pointer;
  margin: 3px;
  width: 70px;
}

.btnew:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btnew:hover {
  opacity: 0.8;
}

.btnew:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.btdel {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #791717;
  cursor: pointer;
  margin: 3px;
  width: 70px;
}

.btdel:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btdel:hover {
  opacity: 0.8;
}

.btdel:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.btsave {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #518537;
  cursor: pointer;
  margin: 3px;
  width: 70px;
}

.btsave:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btsave:hover {
  opacity: 0.8;
}

.btsave:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.btTag {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #53869e;
  cursor: pointer;
  margin: 3px;
  width: 70px;
  color: white;
  width: 200px;
  height: 50px;
}

.btTag:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btTag:hover {
  opacity: 0.8;
}

.btTag:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.btList {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #e8eef1;
  cursor: pointer;
  margin: 3px;
  width: 70px;
  border-radius: 3px;
  border-style: none none none solid;
  border-width: 4px;
  border-color: #234858;
  color: black;
  font-size: 16px;
  text-align: left;
  margin: 7px;
  width: 90%;
}

.btList:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btList:hover {
  opacity: 0.8;
}

.btList:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.btSignIn {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #3198bd;
  cursor: pointer;
  margin: 3px;
  width: 70px;
  width: 150px;
}

.btSignIn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btSignIn:hover {
  opacity: 0.8;
}

.btSignIn:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.btSignOut {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #c05454;
  cursor: pointer;
  margin: 3px;
  width: 70px;
  width: 100px;
}

.btSignOut:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.btSignOut:hover {
  opacity: 0.8;
}

.btSignOut:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.panelListed {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #305561;
  cursor: pointer;
  margin: 3px;
  width: 70px;
  width: 80%;
  text-align: left;
}

.panelListed:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.panelListed:hover {
  opacity: 0.8;
}

.panelListed:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.panelSelected {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  padding: 8px;
  color: white;
  text-align: center;
  -webkit-text-decoration: white;
          text-decoration: white;
  vertical-align: top;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #612c2c;
  cursor: pointer;
  margin: 3px;
  width: 70px;
  width: 80%;
  text-align: left;
}

.panelSelected:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.panelSelected:hover {
  opacity: 0.8;
}

.panelSelected:disabled {
  opacity: 0.3;
  cursor: no-drop;
}

.capsule {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #406f7e;
  color: white;
  border: none;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  padding: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overFlow: hidden;
  min-width: 100px;
  max-width: 250px;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.plaincard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 350px;
}

.plaincard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.imagecard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 400px;
}

.imagecard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.warningcard_white {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #f8f8f8;
  line-height: 1.4;
  height: 120px;
}

.warningcard_white:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.warningcard_yellow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #861386;
  line-height: 1.4;
  color: white;
  height: 120px;
}

.warningcard_yellow:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.warningcard_red {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #a72222;
  line-height: 1.4;
  color: white;
  height: 120px;
}

.warningcard_red:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.warningcard_green {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #16a816;
  line-height: 1.4;
  color: white;
  height: 120px;
}

.warningcard_green:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.warningcard_blue {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #3c4c92;
  line-height: 1.4;
  color: white;
  height: 120px;
}

.warningcard_blue:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.smallcard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.smallcard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.mediumcard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  grid-column: span 2;
}

.mediumcard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.verticalcard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  grid-row: span 4;
  height: 970px;
  display: grid;
  -ms-grid-rows: 300px, auto;
      grid-template-rows: 300px, auto;
}

.verticalcard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.halfverticalcard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  grid-row: span 4;
  height: 970px;
}

.halfverticalcard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.halfhorizontalcard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  grid-column: span 2;
}

.halfhorizontalcard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.thirdhorizontalcard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  grid-column: span 3;
}

.thirdhorizontalcard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.fullhorizontalcard {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  grid-column: span 4;
}

.fullhorizontalcard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.halfhorizontalcardextend {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 450px;
  background-color: white;
  -ms-grid-rows: 20px auto 20px;
      grid-template-rows: 20px auto 20px;
  z-index: 0;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  grid-column: span 2;
}

.halfhorizontalcardextend:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.flex-container {
  margin: 90px 10px 10px 170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(300px, 1fr));
  -ms-grid-rows: (500px)[4];
      grid-template-rows: repeat(4, 500px);
  grid-gap: 17px;
}

.header {
  position: relative;
  background-color: #466a7b;
  height: 18px;
  padding: 10px;
  color: white;
  width: 200px;
  margin-top: -34px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.action {
  position: relative;
  text-align: right;
  background-color: #769da8;
  margin: -10px -20px -20px -20px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
}

.inaction {
  position: relative;
  text-align: right;
  background-color: #769da8;
  margin: -10px -20px -20px -20px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  display: none;
}

.modalButton {
  position: absolute;
  text-align: right;
  padding: 5px;
  bottom: 0px;
  right: 0px;
}

.modalDimmer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(77, 77, 77, 0.597);
}

.modalCard {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 400px;
  width: 300px;
  background-color: white;
  -ms-grid-rows: 20px auto;
      grid-template-rows: 20px auto;
  border-radius: 5px;
}

@-webkit-keyframes snacking {
  0% {
    visibility: visible;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes snacking {
  0% {
    visibility: visible;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.snackBar {
  position: fixed;
  top: 10%;
  left: 50%;
  padding: 20px;
  height: 20px;
  width: 700px;
  border-radius: 5px;
  text-align: center;
  background-color: #217950;
  color: white;
  visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: snacking;
          animation-name: snacking;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.permissionCard {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: -ms-grid;
  display: grid;
  padding: 20px;
  grid-gap: 3px;
  height: 60px;
  width: 300px;
  background-color: #662c2c;
  -ms-grid-rows: 20px auto;
      grid-template-rows: 20px auto;
  border-radius: 5px;
}

.active {
  background-color: rgba(217, 235, 255, 0.693);
  padding: 3px;
}

.simpleform {
  margin: 15px;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: 30px 10px 10px 10px;
}

.form-2-rows {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 10px 10px 10px 10px;
  height: 640px;
  -ms-grid-rows: (300px)[2];
      grid-template-rows: repeat(2, 300px);
}

.form-1-columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  margin: 10px 10px 10px 10px;
  height: 412px;
}

.form-2-columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  margin: 10px 10px 10px 10px;
  height: 412px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.form-3-columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  margin: 10px 10px 10px 10px;
  height: 412px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.form-4-columns {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  margin: 10px 10px 10px 10px;
  height: 412px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.formButton {
  position: relative;
  text-align: right;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.insidecard {
  text-align: left;
  width: auto;
  overflow-y: auto;
  margin: 3px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #0a0b1b;
  top: 0;
  margin-top: 5px;
  bottom: 0;
  margin-bottom: 5px;
  left: 5%;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  left: 30px;
  background-color: inherit;
  width: 80%;
}

/* The box on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: -12px;
  background-color: #133453;
  border: 4px solid #133453;
  top: 22px;
  z-index: 1;
  border-radius: 50%;
}

/* The actual content */
.content {
  padding: 20px 20px;
  background-color: inherit;
  position: relative;
  border-radius: 6px;
  border: medium solid black;
  border-width: 0px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line connecting to the content */
.container::before {
  content: " ";
  height: 3px;
  position: absolute;
  top: 30px;
  width: 40px;
  z-index: 1;
  left: 0px;
  background-color: black;
}

label {
  display: block;
  padding: 3px;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.2px;
  z-index: 2;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  display: block;
  position: relative;
  width: 94%;
  padding: 5px;
  color: #393939;
  background: none;
  border: none;
  z-index: 2;
  font-size: 12px;
}

input:focus {
  border-bottom-style: solid;
  background-color: white;
  border-width: 0.8px;
  width: 94%;
  outline: none;
  border-color: #92b8c5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
  display: block;
  position: relative;
  width: 80%;
  padding: 3px;
  color: #393939;
  background: none;
  border: none;
  z-index: 2;
  padding: 5px;
  font-size: 10px;
}

select:focus {
  border-bottom-style: solid;
  background-color: white;
  border-width: 0.8px;
  outline: none;
  border-color: #92b8c5;
}

::-webkit-input-placeholder {
  color: #88dba8;
  font-style: italic;
}

:-ms-input-placeholder {
  color: #88dba8;
  font-style: italic;
}

::-ms-input-placeholder {
  color: #88dba8;
  font-style: italic;
}

::placeholder {
  color: #88dba8;
  font-style: italic;
}

textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  position: relative;
  width: 98%;
  color: #393939;
  background: none;
  border: none;
  line-height: 1.5;
  z-index: 2;
  padding: 5px;
  resize: none;
  font-size: 12px;
}

textarea:focus {
  border-bottom-style: solid;
  background-color: white;
  border-width: 0.8px;
  padding: 3px;
  width: 98%;
  outline: none;
  border-color: #92b8c5;
}

.err {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: red;
}

.switch {
  position: relative;
  width: 20px;
  height: 10px;
  bottom: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3076af;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* The navigation bar */
.bar {
  overflow: hidden;
  background-color: #4b4b4b;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  height: 50px;
  z-index: 3;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.bar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.bar a:hover {
  background: #ddd;
  color: black;
}

.brand {
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: fixed;
  text-align: center;
  margin-left: 5px;
  margin-top: -5px;
  height: 27px;
}

.brand:hover {
  background-color: black;
  font-size: 32px;
}

/* Left side menu */
.sidebar {
  overflow: hidden;
  background-color: #397482;
  position: fixed;
  top: 50px;
  height: 100%;
  width: 150px;
  z-index: 3;
  color: white;
}

ul {
  list-style-type: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
  width: 9%;
  background-color: #71acc7;
  position: fixed;
  height: 100%;
  overflow: auto;
  -webkit-box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 2px 3px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

li a {
  display: block;
  font-size: 14px;
  color: #d8d7d7;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  color: white;
}

.navmenu {
  background-color: #2b5c68;
  margin: 5px;
  display: -ms-grid;
  display: grid;
  padding: 10px;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 30px auto;
      grid-template-columns: 30px auto;
  border-radius: 5px;
}

.navmenu:hover {
  background-color: #1e4955;
}

.profile {
  margin: 5px;
  height: 80px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 14px;
  padding: 5px;
  color: white;
  text-align: center;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 11px;
  vertical-align: center;
  z-index: 1;
  overflow-y: scroll;
}

table td, table th {
  padding: 10px;
  text-align: left;
  vertical-align: center;
  z-index: 1;
}

table tr {
  background-color: white;
}

table tr:hover {
  background-color: #d0dce6;
}

table tr:nth-child(even) {
  background-color: #e4eaed;
}

table tr:nth-child(even):hover {
  background-color: #bec4c7;
}

table td {
  white-space: pre-line;
}

table th {
  padding: 6px;
  text-align: left;
  background-color: #3d4e57;
  color: #f3e9e9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.lmtable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  font-size: 11px;
  vertical-align: center;
  z-index: 1;
  overflow-y: scroll;
}

.lmtable td, .lmtable th {
  padding: 10px;
  text-align: left;
  vertical-align: center;
  z-index: 1;
}

.lmtable tr {
  background-color: white;
}

.lmtable tr:hover {
  background-color: #d0dce6;
}

.lmtable tr:nth-child(even) {
  background-color: #e4eaed;
}

.lmtable tr:nth-child(even):hover {
  background-color: #bec4c7;
}

.lmtable td {
  white-space: pre-line;
}

.lmtable th {
  padding: 6px;
  text-align: left;
  color: #f3e9e9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.tablelist {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  color: black;
  width: 100%;
  font-size: 12px;
  vertical-align: center;
  z-index: 1;
  overflow-y: scroll;
}

.tablelist td, .tablelist th {
  padding: 5px;
  text-align: left;
  vertical-align: center;
  z-index: 1;
}

.tablelist td {
  white-space: pre-line;
}

.tablelist tr {
  background-color: transparent;
}

.tablelist tr:hover {
  background-color: rgba(193, 215, 233, 0.342);
}

.tablelist th {
  padding: 6px;
  text-align: left;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.slidecontainer {
  width: 100px;
}

.slider {
  -webkit-appearance: none;
  width: 100px;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

body {
  margin: 0;
  background-color: #e2f0f7;
  font-family: Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=main.css.map */